article {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-content: center;*/
}

.row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}

.column-of-two {
  width: 650px;
  height: 50px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.icons{
  display: flex;
  align-items: center;
}

.icons > * {
  margin: 1px;
}

.title {
  display:flex;
  flex-direction: column;
}

.distance-between-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

}

.list {
  height: 305px;
  display: flex;
  flex-direction: row;
  background-image: url("images/list-bg.png");
  background-repeat: no-repeat;
  margin-bottom: 20px;


}

.aligned-center{
  text-align: center;
  margin: 20px;
}

h1 {
  text-align: left;
  margin-bottom: 1px;
  /*font-family: 'Fjalla One', sans-serif;*/
  font-family: 'Oswald', sans-serif;

}

h2 {
  margin: 0px 0px 0px 0px;
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
  height: 35px;
}

h3 {
  margin: 0px;
  font-family: 'Merriweather', serif;
  color: #424242;
}

h4 {
  margin: 0px;
}

h6  {
  text-align: left;
  margin: 0px;
  color: #BDBDBD;
}

#web {
  font-size: 8px;
}

#rss {
  margin-left: 10px;
}

#print {
  margin-right: 1px;
}

p {
  margin: 0 auto;
}

button {
  width: 180px;
  height: 45px;
  background-color: #B71C1C;
  color: white;
  font-size: 15px;
}

#pizza {
  margin: 15px 0px 15px 0px;
}

#paragraphs > *{
  margin-bottom: 25px;
  text-align:center;
}

#rule {
  color: #757575;
  font-size: 8px;
  width: 100%;
}
label {
  margin: 5px;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  color: #757575;
}
input {
  margin: 3px 5px 0px 5px;
  width: 1.5px;
  height: 1.5px;
}

ul {
  margin-left: 40px;
  margin-right: 40px;
}

li {
  diaplay: flex;
  flex-direction: row;
  align-items: : center;
  margin: 7px 15px 7px 15px;

}

#vanessa {
  margin: 0px 15px 35px 15px;
}

#small-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 70px;
}
.aligned-left {
  margin-top: 2px;
}

#logo {
  display:flex;
  align-items: flex-end;;
}

.end {
  color: #BDBDBD;
}

hr {
  width: 430px;
  height: 1px;
  background-color:#EEEEEE;
  border: none;
}

.thick-line {
  width: 900px;
  height: 7px;
  background-color:#BDBDBD;
  border: none;
  margin-top: 15px;
  margin-bottom: 25px;
}

p {
  color: #9E9E9E;
  text-align: left;
}

#under-vanessa {
  margin-top: 5px;
}
